$black: #343030;
$gray: #9F9F9F;
$btnNormal: #403432;
$btnHover: #776763;
$btnDisabled: #C1B4B1;
$btnBasket: #5B3A32;
$border: #E1E1E1;
$borderActive: #B5B5B5;
$background: #F6F3F3;
$grayLight: #A0A0A0;
$footerBackground: #ECEAEA;
$footerText: #555555;

