<template>
  <header class="header">
    <div class="header__container container">
      <div class="header__left">
        <span class="header__logo"/>
        <menuSite/>
      </div>
      <div class="header__right">
        <search/>
      </div>
    </div>
  </header>
</template>

<script>
    import menuSite from "./menuSite";
    import search from "./search";
    export default {
        name: "header",
        components: {search, menuSite}
    }
</script>

<style lang="scss" scoped>
  @import "~assets/scss/config";
  .header {
    height: 96px;
    border-bottom: 1px solid $border;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    &__left {
      display: flex;
      align-items: center;
      max-width: 615px;
      justify-content: space-between;
      width: 100%;
    }
    &__right {
      max-width: 416px;
      width: 100%;
    }
    &__logo {
      margin-right: 10px;
      background: url("~assets/img/logoHeader.png") no-repeat;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
    }
  }
</style>
