<template>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__left">
          <span class="footer__logo"/>
          <menuSite :isFooter="true"/>
        </div>
        <div class="footer__right">
          <p class="footer__tel">
            <span class="footer__tel-icon"/>
            <a href="tel:+7(495)555-55-55">+7 (495) 555-55-55</a>
          </p>
          <p class="footer__address">
            <span class="footer__address-icon"/>
            <span>г. Москва, ул. Расплетина, 24</span>
          </p>
        </div>
      </div>
    </footer>
</template>

<script>
    import menuSite from "./menuSite";
    export default {
        name: "baseFooter",
        components: {menuSite}
    }
</script>

<style lang="scss" scoped>
  @import "~assets/scss/config";
  .footer {
    height: 96px;
    background: #ECEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    &__left {
      display: flex;
      align-items: center;
      max-width: 615px;
      justify-content: space-between;
      width: 100%;
    }
    &__right {
      max-width: 449px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      word-spacing: -1.5px;
    }
    &__logo {
      margin-right: 10px;
      background: url("~assets/img/logoFooter.png") no-repeat;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
    }
    &__tel {
      display: flex;
      align-items: center;
      a {
        font-size: 14px;
        line-height: 150%;
        color: $footerText;
        text-decoration: none;
      }
      &-icon {
        background: url("~assets/svg/phone.svg") no-repeat;
        width: 16px;
        height: 16px;
        display: block;
        margin-right: 8px;
      }
    }
    &__address {
      font-size: 14px;
      line-height: 150%;
      color: $footerText;
      display: flex;
      align-items: center;
      &-icon {
        background: url("~assets/svg/address.svg") no-repeat;
        width: 16px;
        height: 16px;
        display: block;
        margin-right: 8px;
      }
    }
  }
</style>
