<template>
  <div class="button" @click="$emit('click')" :class="[{'basket': isBasket}, classList]">
    <template v-if="!isLoader">
      <span v-if="isBasket" class="button__basket-icon"/>
      {{ name }}
    </template>
    <template v-else>
      <preloader/>
    </template>
  </div>
</template>
<script>
  import preloader from "./preloader";
  export default {
      components: {preloader},
      props: ['classList', 'isBasket', 'name', 'isLoader']
  }
</script>
<style lang="scss" scoped>
  @import "~assets/scss/config";
  .button {
    background: #403432;
    max-width: 108px;
    width: 100%;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #F4F6F9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 5px;
    &:hover {
      background: #776763;
    }
    &.disabled {
      background: #C1B4B1;
      pointer-events: none;
    }
    &.basket {
      background: #5B3A32;
      pointer-events: none;
    }
    &__basket-icon {
      margin-right: 7px;
      background: url("~assets/svg/basket.svg") no-repeat;
      width: 16px;
      height: 13px;
      display: block;
    }
    &.search {
      max-width: 112px;
    }
  }
</style>
