<template>
    <div class="menu">
      <nuxt-link class="menu__link" :class="{'menu__link_footer': isFooter}" v-for="item in menu" :key="'itemMenu-' + item.name" :to="item.link">{{ item.name }}</nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "menu",
        props: ['isFooter'],
        data() {
            return {
                menu: [
                    {
                        link: '#',
                        name: 'Каталог'
                    },
                    {
                        link: '#',
                        name: 'Доставка'
                    },
                    {
                        link: '#',
                        name: 'Оплата'
                    },
                    {
                        link: '#',
                        name: 'Контакты'
                    },
                    {
                        link: '#',
                        name: 'О галерее'
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
  @import "~assets/scss/config";
  .menu {
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__link {
      font-size: 14px;
      line-height: 150%;
      color: $black;
      text-decoration: none;
      &_footer {
        color: $footerText;
      }
    }
  }

</style>
