<template>
  <div class="preloader">
    <b>З</b><b>а</b><b>г</b><b>р</b><b>у</b><b>з</b><b>к</b><b>а</b>
  </div>
</template>

<script>
    export default {
        name: "preloader"
    }
</script>

<style lang="scss" scoped>
  .preloader {
    width: 100%;
    text-align: center;
    b {
      display: inline-block;
      font-size: 14px;
      line-height: 1.5;
      -webkit-animation: flip .9s ease-out infinite;
      animation: flip .9s ease-out infinite;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
      &:first-of-type {
        -webkit-animation-delay: 0s;
        animation-delay: 0s
      }
      &:nth-of-type(2) {
        -webkit-animation-delay: .05s;
        animation-delay: .05s
      }
      &:nth-of-type(3) {
        -webkit-animation-delay: .1s;
        animation-delay: .1s
      }
      &:nth-of-type(4) {
        -webkit-animation-delay: .15s;
        animation-delay: .15s
      }
      &:nth-of-type(5) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s
      }
      &:nth-of-type(6) {
        -webkit-animation-delay: .25s;
        animation-delay: .25s
      }
      &:nth-of-type(7) {
        -webkit-animation-delay: .3s;
        animation-delay: .3s
      }
      &:last-of-type {
        -webkit-animation-delay: .35s;
        animation-delay: .35s
      }
    }
  }

  @keyframes flip {
    0% {
      color: white;
      font-weight: 400;
      letter-spacing: -.1em
    }

    30%,70% {
      color: white;
      font-weight: 400
    }

    35%,65% {
      color: white;
      font-weight: 700;
      -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0);
      -ms-transform: rotateY(0);
      transform: rotateY(0)
    }

    40% {
      color: #f75353
    }

    45% {
      color: #51d466
    }

    50% {
      color: #fcd419;
      font-weight: 700;
      letter-spacing: .3em;
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
      transform: rotateY(360deg)
    }

    55% {
      color: #cb79e6
    }

    60% {
      color: #609cec
    }

    100% {
      color: #444;
      letter-spacing: -.1em;
      font-weight: 400
    }
  }
</style>
