<template>
  <div class="product" :class="{'product_buy': product.isBuy}">
    <div class="product__image">
      <img :src="product.img">
    </div>
    <div class="product__container">
      <p class="product__name">{{ product.name }}</p>
      <div v-if="!product.isBuy" class="product__bottom">
        <div class="product__price">
          <p v-if="product.priceOld" class="product__price-old">{{ product.priceOld }}</p>
          <p v-if="product.price" class="product__price-new">{{ product.price }}</p>
        </div>
        <buttonCom :isLoader="buttonLoader" @click="productClick(product)" :isBasket="product.isBasket"
                :name="product.isBasket ? 'В корзине' : 'Купить'"/>
      </div>
      <p class="product__buy" v-else>
        Продана на аукционе
      </p>
    </div>
  </div>
</template>

<script>
    import buttonCom from "./button";
    import axios from "axios"

    export default {
        name: "product",
        components: {buttonCom},
        props: ['product'],
        data() {
            return {
                buttonLoader: false,
                progressValue: 0
            }
        },
        methods: {
            productClick(product) {
                this.buttonLoader = true;
                axios.get('https://reqres.in/api/products/3').then((response) => {
                    setTimeout(() => {
                        this.buttonLoader = false;
                    }, 1000);
                    this.$store.commit('setProducts', product.id);
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
  @import "~assets/scss/config";

  .product {
    max-width: 280px;
    width: 100%;
    height: 328px;
    border: 1px solid $border;
    margin-bottom: 20px;

    &_buy {
      opacity: 0.5;
    }

    &__image {
      width: 100%;
      height: 160px;
    }

    &__container {
      padding: 20px 24px 24px 24px;
    }

    &__name {
      font-size: 18px;
      line-height: 150%;
      color: $black;
      margin-top: 0;
      margin-bottom: 22px;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__price {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-old {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: $grayLight;
        margin: 0;
        text-decoration-line: line-through;
      }

      &-new {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: $black;
        margin: 0;
      }
    }

    &__buy {
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: $black;
      height: 48px;
      display: flex;
      align-items: center;
    }
  }
</style>
