<template>
    <div class="search">
      <input class="input" type="text" placeholder="Поиск по названию картины" v-model="search"/>
      <buttonCom classList="search" name="Найти"/>
    </div>
</template>

<script>
    import buttonCom from "./button";
    export default {
        name: "search",
        components: {buttonCom},
        data() {
            return {
                search: ''
            }
        }
    }
</script>

<style lang="scss" scoped>
  @import "~assets/scss/config";
  .search {
    display: flex;
    height: 48px;
    width: 100%;
  }
</style>
