<template>
  <div class="app">
    <baseHeader/>
    <nuxt/>
    <baseFooter/>
  </div>
</template>
<script>
    import baseHeader from "../components/baseHeader";
    import baseFooter from "../components/baseFooter";
    export default {
        components: {baseFooter, baseHeader},
        created() {
            if (localStorage.getItem('productsItem')) {
                this.$store.dispatch('initProducts',JSON.parse(localStorage.getItem('productsItem')))
            } else {
                this.$store.dispatch('initProducts');
                localStorage.setItem('productsItem', JSON.stringify(this.$store.getters.products));
            }
        }
    }
</script>

<style lang="scss">
  @import "../assets/fonts/merriweather.css";
  @import "~assets/scss/config";
  @import "~assets/scss/mixin";

  html {
    font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: $background;
  }
  html, body {
    height: 100%;
  }

  .page {
    min-height: calc(100vh - 238px);
    position: relative;
    margin-top: 45px;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1216px;
    @media (max-width: 1247px) {
      max-width: 1170px;
    }
  }

  .page-title {
    margin-top: 0;
    margin-bottom: 39px;
  }

  body {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 150%;
    color: #343030;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    font-weight: normal;
  }

  h6 {
    font-size: 14px;
    font-weight: 300;
  }

  .input {
    border: 1px solid $border;
    border-right: none;
    padding: 0 16px;
    display: flex;
    align-items: center;
    background: $background;
    color: $black;
    width: 100%;
    outline: none;
    &:focus {
      border: 1px solid $borderActive;
    }
    @include placeholderMixin {
      color: $gray;
    }
  }
</style>
