<template>
  <div class="container page">
    <h1 class="page-title">Картины эпохи Возрождения</h1>
    <div v-if="products.length" class="products">
      <product v-for="product in products" :product="product" :key="'product-' + product.id"/>
    </div>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    import product from "../components/product";

    export default {
        components: {product},
        computed: {
            ...mapGetters([
                'products'
            ])
        }
    }
</script>

<style lang="scss">
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
